
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/sweetalert.min.js"></script>

    <title>@ViewBag.Title</title>

    <style>
        .navbar {
            border-radius: 0 !important;
        }

            .navbar li > a:hover {
                background-color: #080808 !important;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home">Stoque Simples</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="@(ViewBag.Menu == "produto" ? "active": "")"><a href="/Produto">Produtos</a></li>
                <li class="@(ViewBag.Menu == "categoria" ? "active": "")"><a href="/Categoria">Categorias</a></li>
                <li class="@(ViewBag.Menu == "usuario" ? "active": "")"><a href="/Usuario">Usuarios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@Session["UsuarioLogadoNome"]</a></li>
                <li><a href="/Home/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </div>

    @RenderBody()

</body>
</html>